<div class="mat-elevation-z8">
  <table mat-table
         class="full-width-table"
         [dataSource]="dataSource"
         matSort
         aria-label="Elements">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Name</th>
      <td mat-cell
          *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Id</th>
      <td mat-cell
          *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Estate no Column -->
    <ng-container matColumnDef="estate-no">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Estate No</th>
      <td mat-cell
          *matCellDef="let row">{{row.estateNo}}</td>
    </ng-container>

    <!-- Will Column -->
    <ng-container matColumnDef="will">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Will</th>
      <td mat-cell
          *matCellDef="let row">{{row.hasWill}}</td>
    </ng-container>

    <!-- Will Date Column -->
    <ng-container matColumnDef="will-date">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Will Date</th>
      <td mat-cell
          *matCellDef="let row">{{row.willDate}}</td>
    </ng-container>


    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataSource?.data.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 50, 100, 250]">
  </mat-paginator>
</div>
