.full-width-table {
  width: 100%;
}
.loader {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 100px;
  .mat-progress-spinner {
    margin: auto;
  }
}
.hidden {
  display: none;
}
.toolbar {
  display: flex;
  padding: 10px 30px 0 30px;
  mat-form-field {
    // margin-left: auto;
    width: 250px;
  }
}
